
body {
    font-family: 'Exo';
    color: whitesmoke;
}


/* GERAL */
.component-title {
    font-size: 25px;
}

.bms-information-title,
.component-title {
    font-family: 'Exo';
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}

.information-title {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
}

.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}

.information-value-wrapper {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 1px 5px 1px 3px;
    font-size: 20px;
}

.information-value-wrapper img {
    height: 1.7em;
}


/* .information-value-wrapper .information-icon,
.information-value-wrapper .information-unit {
    width: 20%;
} */

.information-value-wrapper .information-value {
    color: whitesmoke;
    font-weight: lighter;
    text-align: center;
}

.information-value-wrapper .information-unit {
    color: whitesmoke;
    font-weight: normal;
}

.information-title,
.information-value-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

.information-value-wrapper .information-value.air-fechado {
    color: #008017;
    font-weight: bold;
}

.information-value-wrapper .information-value.air-aberto {
    color: #c5041a;
    font-weight: bold;
}


@media (max-width: 530px) {
    .information-value-wrapper {
        font-size: 17px;
    }
    
    .information-title {
        font-size: 12px;
    }
    .information-value-wrapper .information-value {
        font-weight: normal;
    }
}


@media (min-width: 531px) AND (max-width: 992px) {
    .information-value-wrapper {
        font-size: 30px;
    }
    
    .information-title {
        font-size: 20px;
    }
    .information-value-wrapper .information-value {
        font-weight: normal;
    }
}


.app-top-menu + div {
    background-color: black;
    /* border-top: 1px solid green;
    border-right: 1px solid green;
    border-top-right-radius: 20px; */
}


.app-top-menu {
    
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;

    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: nowrap;
    
}

.app-top-menu .menu-image-wrapper img {
    height: 100px;
    flex-basis: auto;
    min-width: 90px;
}



.menu-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: -20px;

    flex-grow: 10;
    flex-basis: auto;

    flex-wrap: wrap;
}


.menu-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    height: 90px;

    margin-top: 20px;

    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;

    -webkit-transition-property: color, background;
    transition-property: color, background;

    -webkit-transition-duration: 0.3s, 0.3s; 
    transition-duration: 0.3s, 0.3s; 
    -webkit-transition-timing-function: ease-out, ease-out; 
    transition-timing-function: ease-out, ease-out; 

    
}

.additional-information {
    display: flex;
    /* height: 100px; */
    flex-grow: 1;
    flex-flow: column wrap;
    flex-basis: auto;
    justify-content: space-between;
    font-size: 14px;
    /* margin-top: -15px; */
    width: 40px;
}

@media (max-width: 530px) {
    .additional-information {
        font-size: 12px;
    }
}

.signal-indicator {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.signal-indicator > img {
    height: 2em;
}

.rssi-value {
    margin-top: -3px;
    display: inline-flex;
}

.rssi-title {
    font-weight: bold;
}

.issues-indicator {
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.issues-indicator > img {
    height: 2.2em;
}


.menu-button:hover,
.menu-button.selected {

    
    background-color: whitesmoke;
    color: black;

}

.menu-button .icon-wrapper {
    
    height: 100%;
    
    margin: 0 auto;

    position: relative;

    display: flex;
}



.menu-button .icon-wrapper img {
    transition: opacity 0.3s ease-out;
    height: 100%;
}

.menu-button .icon-wrapper img:first-child{
    width: auto;
}

.menu-button .icon-wrapper img:nth-child(2){
    position: absolute;
    left: 0px;
}

.menu-button:hover .icon-wrapper img:nth-child(2),
.menu-button.selected .icon-wrapper img:nth-child(2){
    opacity: 0;
}

.menu-button .menu-text {
    font-weight: bold;
    margin: 0px 10px 0px 15px;
    font-size: 25px;
}

@media (max-width: 992px) {

    .app-top-menu .menu-image-wrapper {
        flex-shrink: 2;
        flex-basis: 150%;
        max-width: 300px;

    }

    .app-top-menu .menu-image-wrapper img {
        width: 100%;
        height: auto;
    }

}

@media (min-width: 371px) AND (max-width: 530px) {
    .app-top-menu .menu-buttons-wrapper {
        margin-top: -5px;
    }

    .app-top-menu .menu-button {
        height: 50px;
        margin-top: 5px;

    }

    .app-top-menu .menu-button .menu-text {
        font-size: 13px;
        margin: 0px -3px 0px 3px;
    }
}

@media (max-width: 370px) {

    .app-top-menu .menu-buttons-wrapper {
        margin-top: -5px;
    }

    .app-top-menu .menu-button {
        height: 40px;
        margin-top: 5px;

    }

    .app-top-menu .menu-button .menu-text {
        font-size: 10px;
        margin: 0px 0px 0px 3px;
    }
}


.index-section > :not(:last-child) {
    /* border-right: 1px solid whitesmoke; */
    height: 100%;
}


.bordered-title-text {
    margin-top: -0.7em;
    background-color: black;
    padding: 0px 5px 0px 5px;
    font-size: 25px;
}

.bordered-title-container{
    border: 1px solid whitesmoke;
    margin-left: 1px;
    padding-bottom: 5px;
    border-radius: 10px;
}

/* PACKS */
.pack-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 5px 0px 5px;
}

.pack-container .pack-title-wrapper {
    display: flex;
    justify-content: center;
}

.pack-container .pack-title {
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    z-index: 100;
    margin-bottom: -1px;
}

.pack-container .pack-content {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    z-index: 99;
}


.pack-content .pack-section-title {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 7px;
    margin-top: 5px;
    color: rgb(190, 190, 190);
}

.pack-content .pack-section-values {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.pack-content .pack-value  {
    flex: 1 0 16%;
    transition: color 2s;
}

.pack-content .pack-value.under-voltage {
    color: rgb(71, 110, 255);
}

.pack-content .pack-value.over-voltage,
.pack-content .pack-value.over-temperature {
    color: red;
}

.pack-content .pack-value.under-voltage,
.pack-content .pack-value.over-voltage {
    font-weight: bold;
}

.pack-content .pack-temperatures {
    border-top: 1px solid whitesmoke;
}

.pack-content .pack-temperatures .pack-section-values{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.pack-content > * {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

/*PACK INFORMATION*/
.packs-information-container {

}

.packs-information-container .packs-information-value-wrapper {
    display: flex;
    margin-top: -5px;
}

.packs-information-container .packs-information-title {
    font-size: 22px;
    font-weight: bold;
}

.packs-information-container .packs-information-value {
    width: 80px;
}

.packs-information-container .packs-information-value,
.packs-information-container .packs-information-unit {
    font-size: 20px;
}




.notification-container .notification-icon>* {
    height: 2.7em;
}


.notification-container .notification-text {
    font-family: 'Exo';
    color: whitesmoke;
}

.Toastify__toast.Toastify__toast--warning {
    background: #D18317;
}


/* CONTROLE RELATED */

.volante-svg-wrapper {
    width: 75%;
}

.volante-value-wrapper {
    display: flex;
    width: 100%;
}

.volante-container .volante-title {
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    text-align: end;
    padding-right: 5px;
}

.volante-container .volante-value {
    font-size: 20px;
    width: 40%;
    padding-left: 5px;
    
}





.pedais-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.pedal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}



.pedal-value,
.pedal-title {
    font-size: 20px;
}

.pedal-title {
    font-weight: bold;
}

.pedal-value .brake-off {
    color: #008017;
    font-weight: bold;
}

.pedal-value .brake-on {
    color: #c5041a;
    font-weight: bold;
}




.default-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


hr.gray-separator {
    width: 90%;
    background-color: rgb(133, 135, 135);
    height: 1px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.component-title.subtitle {
    font-size: 20px;
}

.carro-overlay-value {
    font-weight: bold;
}

.graficos-wrapper {
    overflow-x: scroll;
}

.dados-grafico.form-control {
    width:auto;
    display:inline-block;
}

.dado-grafico-title {
    font-size: 23px;
    white-space: nowrap;
    margin-right: 10px;
    font-weight: bold;
}

.recharts-text.recharts-label {
    fill: whitesmoke;
}


.notification-field-name {
    color: lightgray;
    font-weight: bold;
}

.notification-value {
    font-weight: bold;
}





